{% load static %}

<!DOCTYPE html>
<html lang="es-ing">
<head>
    
	<title>veterinaria</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/barra.css' %} ">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<meta name="width=device-width,user-scale,initial-scale=1.0,maximun-sacale=1.0,minum-scale=1.0"> 
</head>
<body style="background:#c4c4c4;">
	
    <!--header-->
		{% include "user/includes/navbar.html" %}


	
	<header style="background:#ffffff;height: 50px;">
		<input type="checkbox" id="check">
		<label for="check">
			<i class="fast fast-bars" id="siderbar_btn"></i>
		</label>
	</header>
           
		   
		    <!--parte superior-->
            <div  class="">
                <button class="btn-close btn-close-whithe" type="button" style="float: right;" aria-label="close" ></button>
                <h5 style="color:black;">	 <span></span> Home</h5>
            </div>

			














			</div>
		</div>
	</div>
</div>
</div> 
 <!--javascrip-->
<script src=" {% static './js/jquery-3.5.1.min.js' %} "></script>
<script src=" {% static './js/bootstrap.min.js' %} "></script>
<script src="{% static './js/popper.min.js' %} "></script>
</body>
</html>