{% load static %}

<!DOCTYPE html>
<html lang="es-ing">
<head>
    
	<title>veterinaria</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/barra.css' %} ">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<meta name="width=device-width,user-scale,initial-scale=1.0,maximun-sacale=1.0,minum-scale=1.0"> 
</head>
<body style="background:#c4c4c4;">

		{% include "user/includes/navbar.html" %}

    
            <!--parte superior-->
            <div  class="">
                <button class="btn-close btn-close-whithe" type="button" style="float: right;" aria-label="close" ></button>
                <h5 style="color:black;">	 <span></span> </h5>
            </div>

			
            <H2 style="text-align: center;">Mascotas</H2>

            <div class="card mb-3" style="max-width: 900px;">
             <div class="row g-0">
                 <div class="col-md-4">
                        <img src="{% static './img/images (2).jpg'%}" alt="">
                     
                 </div>
                 <div class="col-md-8" >
                     <div class="card-body">
                         <h5 class="card-title">Boby</h5>
                         <p class="card-text">raza:pequines</p>
                        <p class="card-text">genero :macho</p>
                        <div  class="">
                            <div class="d-grit gap-2 d-md-block">
                                <button class="btn btn-primary" type="button">Ver expediente</button>
            
                            </div>
                        </div>
                     </div>
                 </div>
             </div>
            </div>


            <div class="card mb-3" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static './img/images (2).jpg'%}" alt="">
                    </div>
                    <div class="col-md-8" >
                        <div class="card-body">
                            <h5 class="card-title">Boby</h5>
                            <p class="card-text">raza:pequines</p>
                           <p class="card-text">genero :macho</p>
                               <div class="d-grit gap-2 d-md-block">
                                     <a class="btn btn-primary" href="userhistoria" role="button">Ver detalles</a>

                            
                                </div>
                        </div>
                    </div>
                </div>
               </div>
   
   
   








			</div>
		</div>
	</div>
</div>
</div>  
 <!--javascrip-->
<script src=" {% static './js/jquery-3.5.1.min.js' %} "></script>
<script src=" {% static './js/bootstrap.min.js' %} "></script>
<script src="{% static './js/popper.min.js' %} "></script>
</body>
</html>