
    <!--header-->
	
	<header style="background:black;height: 30px;">
		<h7 style="color: #ffffff; float:right;"> Celular:920236031</h7>
	</header>
    <!--menu navegacion-->
    <nav class="navbar navbar-expand navbar-light " style="background:#66a7c5;">

     <div class="container-fluid">
        <div class="collapse navbar-collapse"></div>
            <div class="navbar-nav">
                <ul>
                <a href="" style="color: #ffffff;" class="nav-link">INICIO</a>
            </ul>
            <ul>
                
                <a href="" style="color: #ffffff;"  class="nav-link">NOSOTROS</a>
            
            </ul>
            <ul>
                <a href="" style="color: #ffffff;" class="nav-link">SERVICIOS</a>
            </ul>
            <ul>
                <a href="" style="color: #ffffff;" class="nav-link">CONTACTO</a>
            </ul>
            <ul>
                <a href="./tablero" style="color: #ffffff;" class="nav-link">ENTRAR</a>
            </ul>
            </div>
        </div>
     </div>
    </nav>
    <!--menu navegacion-->
